In [54]:
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn import ensemble

In [55]:
data = pd.read_csv("Dell_data_500.csv")
data.tail(5)

,asin,C1,C2,C3,P1,P2,P3,Review Sentiment,Service Rating,Customer Sentiment
543,B006NTK3MM,5,5,0,3,5,2,2.40,1,NaN
544,B006NWJBZE,5,4,1,4,2,4,2.43,0,NaN
545,B006NXX5YG,6,3,1,5,1,4,1.80,3,NaN
546,B006OFWBE8,6,0,4,7,0,3,2.27,4,NaN
547,B006OSNP5O,8,2,0,6,4,0,0.90,4,NaN

In [56]:
# data = pd.read_csv("Dell_data_500(Integer).csv")
# data.tail(5)

In [73]:
train = data[data.columns[1:9]][0:498]
target = data['Customer Sentiment'][0:498]

In [74]:
train.tail(5)

     C1  C2  C3  P1  P2  P3  Review Sentiment  Service Rating
493   3   5   2   7   2   1              2.49               3
494   3   5   2   7   2   1              1.75               2
495   8   2   0   6   1   3              1.27               2
496   7   3   0   5   3   2              2.21               4
497   4   2   4   5   3   2              3.53               4

In [75]:
target.tail(5)

493    3.1
494    2.1
495    3.2
496    4.1
497    4.4
Name: Customer Sentiment, dtype: float64

In [76]:
train.shape

(498, 8)

In [77]:
target.shape

(498,)

In [78]:
x_train , x_test , y_train , y_test = train_test_split(train , target , test_size = 0.25,random_state =2)

In [79]:
x_train.shape

(373, 8)

In [80]:
x_test.shape

(125, 8)

In [81]:
y_test.shape

(125,)

In [82]:
clf = ensemble.GradientBoostingRegressor(n_estimators = 400, max_depth = 3, min_samples_split = 2,
          learning_rate = 0.1, loss = 'ls')

In [83]:
clf.fit(x_train, y_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=3, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=400, presort='auto', random_state=None,
             subsample=1.0, verbose=0, warm_start=False)

In [84]:
clf.score(x_test,y_test)

0.5248122623641627

In [85]:
from sklearn import linear_model

In [86]:
clf2 = linear_model.Lasso(alpha=0.1)

In [87]:
clf2.fit(x_train, y_train)

Lasso(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

In [88]:
clf2.score(x_test,y_test)

0.5869914777869584

In [89]:
clf3 = linear_model.LinearRegression()

In [90]:
clf3.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [91]:
clf3.score(x_test,y_test)

0.5729205140265122

In [92]:
clf4 = linear_model.Ridge(alpha=0.05)

In [93]:
clf4.fit(x_train, y_train)

Ridge(alpha=0.05, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [94]:
clf4.score(x_test,y_test)

0.6152752113221851

In [104]:
clf4.predict([[1,2,250,9,4,250,4.93,5]])

array([86.65279154])