In [1]:
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn import ensemble

/home/pulkit/.local/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/home/pulkit/.local/lib/python2.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
data = pd.read_csv("Dell_data_500.csv")
data.tail(5)

,asin,C1,C2,C3,P1,P2,P3,Review Sentiment,Service Rating,Customer Sentiment
543,B006NTK3MM,5,5,0,3,5,2,2.40,1,NaN
544,B006NWJBZE,5,4,1,4,2,4,2.43,0,NaN
545,B006NXX5YG,6,3,1,5,1,4,1.80,3,NaN
546,B006OFWBE8,6,0,4,7,0,3,2.27,4,NaN
547,B006OSNP5O,8,2,0,6,4,0,0.90,4,NaN

In [3]:
# data = pd.read_csv("Dell_data_500(Integer).csv")
# data.tail(5)

In [4]:
train = data[data.columns[1:9]][0:498]
target = data['Customer Sentiment'][0:498]

In [5]:
train.tail(5)

     C1  C2  C3  P1  P2  P3  Review Sentiment  Service Rating
493   3   5   2   7   2   1              2.49               3
494   3   5   2   7   2   1              1.75               2
495   8   2   0   6   1   3              1.27               2
496   7   3   0   5   3   2              2.21               4
497   4   2   4   5   3   2              3.53               4

In [6]:
target.tail(5)

493    3.1
494    2.1
495    3.2
496    4.1
497    4.4
Name: Customer Sentiment, dtype: float64

In [7]:
train.shape

(498, 8)

In [8]:
target.shape

(498,)

In [9]:
x_train , x_test , y_train , y_test = train_test_split(train , target , test_size = 0.25,random_state =2)

In [10]:
x_train.shape

(373, 8)

In [11]:
x_test.shape

(125, 8)

In [12]:
y_test.shape

(125,)

In [13]:
clf = ensemble.GradientBoostingRegressor(n_estimators = 400, max_depth = 3, min_samples_split = 2,
          learning_rate = 0.1, loss = 'ls')

In [14]:
clf.fit(x_train, y_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=3, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=400, presort='auto', random_state=None,
             subsample=1.0, verbose=0, warm_start=False)

In [15]:
clf.score(x_test,y_test)

0.5264898919622345

In [16]:
from sklearn import linear_model

In [17]:
clf2 = linear_model.Lasso(alpha=0.1)

In [18]:
clf2.fit(x_train, y_train)

Lasso(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

In [19]:
clf2.score(x_test,y_test)

0.5869914777869584

In [20]:
clf3 = linear_model.LinearRegression()

In [21]:
clf3.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [22]:
clf3.score(x_test,y_test)

0.5729205140265122

In [23]:
clf4 = linear_model.Ridge(alpha=0.05)

In [24]:
clf4.fit(x_train, y_train)

Ridge(alpha=0.05, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [25]:
clf4.score(x_test,y_test)

0.6152752113221851

In [26]:
clf4.predict([[1,2,250,9,4,250,4.93,5]])

array([86.65279154])

In [27]:
from sklearn.externals import joblib
joblib.dump(clf4,'trained.pkl')

['trained.pkl']